{
    padding:0;
    margin:0;
}

body {
    height:100vh;
    width: 100vw;
    display: block;
}

.bd {
    display: flexbox
max-width: 720px;
height: 100%;
color:white;
background-color: #18252b;
}
